@page
@model IEnumerable<Breaddit.Models.Slice>
<div>
    <h4>Sidebar</h4>
    <hr />
    foreach(var item in ViewBag.Slices)
    {
        @await Html.PartialAsync("../Slice/SlicePartialView")
    }
</div>
