
obj/Breaddit.csproj.nuget.dgspec.json
obj/Breaddit.csproj.nuget.dgspec.json
obj/Breaddit.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/Breaddit.assets.cache
obj/Debug/netcoreapp3.1/Breaddit.csprojAssemblyReference.cache
obj/project.nuget.cache
